<nav class="navbar navbar-expand-sm justify-content-center nav-tabs">
  <ul class="navbar-nav " role="tablist">
    <li class="nav-item active">
      <a class="nav-link active" data-toggle="tab" href="#home">Handsets</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#menu1">Prepay Options</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#menu2">Subscriptions</a>
    </li>
  </ul>
</nav>